.image-card {
    max-width: 25%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: green;

}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

.image-title {
    font-size: 1.5rem;
    margin: 8px 0;

}

.image-description {
    font-size: 1rem;
    color: black;

}

.image-price {
    font-weight: bold;
    color: black;
}
